body {
	font-family: Noto Sans, sans-serif;
    background-color: #000000;
}

p{
    font-size: 25px;
    font-weight: bold;
}

td {
    position: relative;
}

img{
  z-index: 1;
}

#menus{
  display: none;
}

#titre{
  color: white;
}

#titre:hover{
  color: #AAAAAA;
}

.filampoule{
    position: absolute;
    margin-left: 50%;
    top: -990px;
}

.verticalLine{
    height: 1000px;
    border-right: solid 3px #000;
    z-index: 99999;
}


/*
CADRE
*/
.cadre {
    width: min-content;
    height: auto;
    border: 3px solid #873600;
    background: #FFFFFF;
    padding: 15px 25px;
    z-index: 10;
}
.filcadre1{
  position: absolute;
  top: -998px;
  left: 5px;
    z-index: 99;
}
.filcadre2{
  position: absolute;
  top: -998px;
  right: 5px;
    z-index: 99;
}

/*
ANIMATION
*/
@keyframes descenteampoule {
    0%   {margin-top: 0%;}
    100% {margin-top: 15%;}
}

@keyframes descentetexte {
    0%   {margin-top: 0%;}
    100% {margin-top: 145%;}
}

@keyframes monteeampoule {
    0%   {margin-top: 15%;}
    100% {margin-top: 0%;}
}

@keyframes monteetexte {
    0%   {margin-top: 90%;}
    100% {margin-top: 0%;}
}

@keyframes descentestade {
  0%   {margin-top: -50%;}
  100% {margin-top: 33%;}
}

@keyframes descentecardeurs {
  0%   {margin-top: -50%;}
  100% {margin-top: 30%;}
}

@keyframes descentesaintevictoire {
  0%   {margin-top: -50%;}
  100% {margin-top: 25%;}
}

@keyframes descentecalanque {
  0%   {margin-top: -50%;}
  100% {margin-top: 45%;}
}

@keyframes descentezizoukarim {
  0%   {margin-top: -50%;}
  100% {margin-top: 45%;}
}

@keyframes descentecassis {
  0%   {margin-top: -50%;}
  100% {margin-top: 32%;}
}


#ampoule{
    position: absolute;
    top: 10%;
    left: 49%;
    animation-duration: 4s;
    animation-name: descenteampoule;
    z-index: 5;
}

/*
HEADER
*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
header button {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 5px;
}
header button:hover {
    background: white;
    color: black;
}
    
/*
CADRE
*/
#calanque{
  position: absolute;
  left: 10%;
  top: -200px;
}
#cardeurs{
  position: absolute;
  left: 80%;
  top: -200px;
}
#cassis{
  position: absolute;
  left: 25%;
  top: -200px;
}
#stade{
  position: absolute;
  left: 5%;
  top: -200px;
}
#saintevictoire{
  position: absolute;
  left: 50%;
  top: -200px;
}
#saintevictoire img{
  position: relative;
}
#zizoukarim{
  position: absolute;
  left: 65%;
  top: -200px;
}

.txtcontenu {
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  z-index:2;
}
.imgcontenu {
  height: 100%;
  transition: 0.5s;
}
.conteneura:hover .imgcontenu {
  opacity: 0.5;
}
.conteneura:hover .txtcontenu {
  opacity: 1;
}