body {
	font-family: Noto Sans, sans-serif;
    background-color: #999999;
}

h1{
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 25px;
    font-weight: bold;
}

h5{
    font-size: 20px;
    margin: 0;
}

td {
    position: relative;
}

.verticalLine{
    position: absolute;
    vertical-align: 200px;
    margin-left: 50%;
    top: -25%;
    left: 0px;
    height: 50%;
    border-right: solid 3px #000;
    z-index: 9999;
}

/*
CADRE
*/
.cadre {
    width: min-intrinsic;
    height: auto;
    border: 3px solid #873600;
    background: #FFFFFF;
    margin: auto;
    padding: 15px 25px;
}

/*
ANIMATION
*/
@keyframes descenteampoule {
    0%   {margin-top: 10%;}
    100% {margin-top: 50%;}
}

#ampoule{
    text-align: center;
    margin-top: 10%;
    animation-duration: 4s;
    animation-name: descenteampoule;
    position: relative;
}

/*
HEADER
*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
header ul li a:hover {
    background: white;
    color: black;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 15px;
}
header ul li a:hover {
    background: white;
    color: black;
}
    